<div class="preliminary-punch-list-page surface-card shadow-4 p-3 border-round">
  <div class="header-section">
    <h2>Preliminary Punch List</h2>
    <button *ngIf="this.user.role === 'CM' || this.user.role === 'Admin'" mat-raised-button color="primary" class="header-btn" (click)="openModal()">Add New Entry</button>
  </div>

  <div class="filter-section">
    <div class="search-bar">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Search</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Search by Segment ID, Address, City, State">
        <button mat-icon-button matSuffix>
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="chip-filter">
      <div class="grid flex-column lg:flex-row w-full h-full">
        <div class="col-12 lg:col flex align-items-center flex-wrap gap-1">
            <p-chip *ngFor="let filter of selectedFilters" [label]="filter" [removable]="true" styleClass="mr-3 h-auto lg:h-full px-4 mt-3 lg:mt-0" removeIcon="pi pi-times" [style]="{'border-radius':'50px'}" (onRemove)="removeChip(filter)"></p-chip>
            <a pRipple *ngIf="selectedFilters.length > 0" tabindex="0" class="text-900 cursor-pointer text-center px-3 py-2 mt-3 lg:mt-0 border-1 border-200 lg:border-none inline-block hover:bg-primary hover:border-primary transition-duration-150" style="border-radius:50px; max-width: 7rem;" (click)="clearAll()">Clear All</a>
        </div>
    </div>
      <div class="flex align-items-center flex-wrap gap-1">
        <p-dropdown [options]="filterOptions" [(ngModel)]="selectedFilter" placeholder="Select Filter" (onChange)="addFilter()" optionLabel="name"></p-dropdown>
      </div>
    </div>
  </div>

  <div class="card table-wrapper">
    <p-tabs [(value)]="activeTab">
      <p-tablist>
        <p-tab [value]="0" [ngClass]="{ 'active-tab': activeTab === 0 }">Resolved Gigs</p-tab>
        <p-tab [value]="1" [ngClass]="{ 'active-tab': activeTab === 1 }">Unresolved Gigs</p-tab>
      </p-tablist>
      <p-tabpanels>
        <p-tabpanel [value]="0">
          <preliminary-punch-list-resolved/>
        </p-tabpanel>
        <p-tabpanel [value]="1">
          <preliminary-punch-list-unresolved/>
        </p-tabpanel>
      </p-tabpanels>
    </p-tabs>
  </div>


</div>