<mat-card class="assignments-widget">
  <mat-card-header>
    <mat-card-title>My Assignments</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list *ngIf="(assignments$ | async)?.length; else noAssignments">
      <mat-list-item *ngFor="let assignment of assignments$ | async">
        <mat-icon matListItemIcon>assignment</mat-icon>
        <span matListItemTitle>{{ assignment.title || assignment.jobTitle || 'Assignment #' + assignment.id }}</span>
        <span matListItemLine>{{ assignment.scheduledDate | date:'shortDate' }} &mdash; {{ assignment.status }}</span>
      </mat-list-item>
    </mat-list>
    <ng-template #noAssignments>
      <p class="empty-state">No current assignments.</p>
    </ng-template>
  </mat-card-content>
</mat-card>
