<mat-card class="kpi-card">
  <mat-card-content>
    <div class="kpi-content">
      <div class="kpi-icon">
        <mat-icon>{{ icon }}</mat-icon>
      </div>
      <div class="kpi-data">
        <div class="kpi-title">{{ title }}</div>
        <div class="kpi-value">{{ value }}</div>
        <div class="kpi-change" [class.positive]="changePositive" [class.negative]="!changePositive">
          <mat-icon>{{ changePositive ? 'trending_up' : 'trending_down' }}</mat-icon>
          <span>{{ change >= 0 ? '+' : '' }}{{ change }}%</span>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
