<mat-card class="available-technicians-widget">
  <mat-card-header>
    <mat-card-title>
      <mat-icon>people</mat-icon>
      Technician Availability
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="count-badge">
      <span class="available-count">{{ availableCount }}</span>
      <span class="total-count"> / {{ totalCount }} Available</span>
    </div>
    <mat-list *ngIf="availableTechnicians.length; else noTechs">
      <mat-list-item *ngFor="let tech of availableTechnicians">
        <mat-icon matListItemIcon>person</mat-icon>
        <span matListItemTitle>{{ tech.name || tech.firstName + ' ' + tech.lastName }}</span>
        <span matListItemLine>{{ tech.specialty || tech.role }}</span>
      </mat-list-item>
    </mat-list>
    <ng-template #noTechs>
      <p class="empty-state">No technicians currently available.</p>
    </ng-template>
  </mat-card-content>
</mat-card>
