<mat-card class="active-jobs-widget">
  <mat-card-header>
    <mat-card-title>Active Jobs</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div *ngIf="isLoading$ | async" class="loading-container">
      <mat-spinner diameter="32"></mat-spinner>
    </div>
    <ng-container *ngIf="!(isLoading$ | async)">
      <mat-list *ngIf="(jobs$ | async)?.length; else noJobs">
        <mat-list-item *ngFor="let job of jobs$ | async">
          <span matListItemTitle>{{ job.title || job.name || 'Job #' + job.id }}</span>
          <span matListItemLine>
            <mat-chip [ngClass]="'status-' + job.status?.toLowerCase()">{{ job.status }}</mat-chip>
            &nbsp;{{ job.location || job.address }}
          </span>
        </mat-list-item>
      </mat-list>
      <ng-template #noJobs>
        <p class="empty-state">No active jobs at this time.</p>
      </ng-template>
    </ng-container>
  </mat-card-content>
</mat-card>
