<mat-toolbar color="primary">
    <span>My Dashboard</span>
  </mat-toolbar>
  
  <mat-sidenav-container>
    <mat-sidenav mode="side" opened>
      <mat-nav-list>
        <a mat-list-item href="#">Dashboard</a>
        <a mat-list-item href="#">preliminary-punch-list</a>
        <a mat-list-item href="#">Settings</a>
      </mat-nav-list>
    </mat-sidenav>
  
    <mat-sidenav-content>
      <div style="padding: 20px;">
        <h2>Dashboard Content</h2>
        <!-- Add your charts and other components here -->
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>