<mat-toolbar color="primary">
  <img width="100" alt="SRI Logo" src="assets\images\SRI_IntegrationServices-logo-white-small-2.png"/>
  <!-- <span class="logo">SRI Tools</span> -->
  <span class="spacer"></span>
  <button mat-button routerLink="/overview" routerLinkActive="active-link">Overview</button>
  <button mat-button routerLink="/preliminary-punch-list" routerLinkActive="active-link">Prelim Punch List Tracker</button>
  <button mat-button routerLink="/profile" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Profile</button>
  <button mat-button (click)="logout()">Logout</button>
</mat-toolbar>