<mat-toolbar color="primary">
  <!-- Logo -->
  <img width="100" alt="SRI Logo" src="assets/images/SRI_IntegrationServices-logo-white-small-2.png" />

  <!-- Spacer to push the navigation links to the right -->
  <span class="spacer"></span>

  <!-- Hamburger Menu Icon -->
  <div aria-label="Toggle menu">
    <mat-icon mat-button class="menu-toggle" (click)="toggleMenu()">{{ isMenuOpen ? 'close' : 'menu' }}</mat-icon>  <!-- Toggle between 'menu' and 'close' icon -->
  </div>

  <!-- Navigation Links -->
  <div class="nav-links"
       [ngClass]="{
         'open': isMobile() && isMenuOpen,
         'closed': isMobile() && !isMenuOpen,
         'mobile': isMobile()
       }">
    <ng-container *ngFor="let link of primaryLinks">
      <button mat-button
              [routerLink]="link.route"
              routerLinkActive="active-link"
              [routerLinkActiveOptions]="getMatchOptions(link)">
        {{ link.label }}
      </button>
    </ng-container>

    <ng-container *ngIf="!isMobile() && extraLinks.length">
      <button 
        mat-button 
        class="more-button"
        [matMenuTriggerFor]="moreMenu">
        More
        <mat-icon>expand_more</mat-icon>
      </button>
    </ng-container>
    <button mat-button (click)="logout()">Logout</button>
  </div>
  <mat-menu *ngIf="!isMobile()" #moreMenu="matMenu">
    <button mat-menu-item *ngFor="let link of extraLinks"
            [routerLink]="link.route">
      {{ link.label }}
    </button>
  </mat-menu>
</mat-toolbar>
