<mat-toolbar color="primary">
  <!-- Logo -->
  <img width="100" alt="SRI Logo" src="assets/images/SRI_IntegrationServices-logo-white-small-2.png" />

  <!-- Spacer to push the navigation links to the right -->
  <span class="spacer"></span>

  <!-- Hamburger Menu Icon -->
  <button mat-icon-button aria-label="Toggle menu" class="menu-toggle" (click)="toggleMenu()">
    <mat-icon>{{ isMenuOpen ? 'close' : 'menu' }}</mat-icon>
  </button>

  <!-- Navigation Links -->
  <div class="nav-links"
       [ngClass]="{
         'open': isMobile() && isMenuOpen,
         'closed': isMobile() && !isMenuOpen,
         'mobile': isMobile()
       }">
    <ng-container *ngFor="let link of primaryLinks">
      <button mat-button
              [routerLink]="link.route"
              routerLinkActive="active-link"
              [routerLinkActiveOptions]="getMatchOptions(link)">
        {{ link.label }}
      </button>
    </ng-container>

    <button 
      mat-button 
      class="more-button"
      *ngIf="!isMobile() && extraLinks.length"
      [matMenuTriggerFor]="moreMenu">
      More
      <mat-icon>expand_more</mat-icon>
    </button>
    <button mat-button (click)="logout()">Logout</button>
  </div>
  <mat-menu #moreMenu="matMenu">
    <ng-container *ngIf="!isMobile() && extraLinks.length">
      <button mat-menu-item *ngFor="let link of extraLinks"
              [routerLink]="link.route">
        {{ link.label }}
      </button>
    </ng-container>
  </mat-menu>
</mat-toolbar>
