mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 0 20px;
  margin-bottom: 20px;
  background-color: #144f80;

  button {
    &:hover {
      background-color: #207bc5;
    }
    
    // Highlight the active link
    &.active-link {
      background-color: #e18a25;  // Change this to your preferred color
      color: #fff;
    }
  }
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.spacer {
  flex: 1;
}
