:host { display: block; }

.dialog-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-width: 420px;
}

.full-width { width: 100%; }

.date-row, .time-row {
  display: flex;
  gap: 16px;
  mat-form-field { flex: 1; }
}
