<mat-card class="current-job-status-widget">
  <mat-card-header>
    <mat-card-title>
      <mat-icon>work</mat-icon>
      Current Job
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div *ngIf="currentJob; else noJob">
      <div class="job-detail">
        <span class="label">Job:</span>
        <span class="value">{{ currentJob.title || currentJob.name }}</span>
      </div>
      <div class="job-detail">
        <span class="label">Status:</span>
        <mat-chip class="status-chip">{{ currentJob.status }}</mat-chip>
      </div>
      <div class="job-detail" *ngIf="currentJob.client">
        <span class="label">Client:</span>
        <span class="value">{{ currentJob.client }}</span>
      </div>
      <div class="job-detail" *ngIf="currentJob.address">
        <span class="label">Address:</span>
        <span class="value">{{ currentJob.address }}</span>
      </div>
    </div>
    <ng-template #noJob>
      <p class="empty-state">
        <mat-icon>info</mat-icon>
        No active job at this time.
      </p>
    </ng-template>
  </mat-card-content>
</mat-card>
