<div>
    <div class="header-btns">
        <div>
            <button mat-raised-button class="upload-btn">
              Upload CSV
            </button>
            <input type="file" style="display: none;">
        </div>
    
        <div colspan="2">
            <button mat-raised-button class="manual-btn" (click)="openManualEntryModal()">Add New TPS Entry</button>
        </div>
    </div>

    <!-- Table to display the CSV Data -->
    <div colspan="2">
        <table mat-table [dataSource]="csvData">
            <ng-container matColumnDef="Month">
                <th mat-header-cell *matHeaderCellDef> Month </th>
                <td mat-cell *matCellDef="let row"> {{row.month}} </td>
            </ng-container>
            <ng-container matColumnDef="SegmentCount">
                <th mat-header-cell *matHeaderCellDef> Segment Count </th>
                <td mat-cell *matCellDef="let row"> {{row.segmentCount}} </td>
            </ng-container>
            <ng-container matColumnDef="EngCosts">
                <th mat-header-cell *matHeaderCellDef> Engineering Costs </th>
                <td mat-cell *matCellDef="let row"> {{row.engCosts}} </td>
            </ng-container>
            <ng-container matColumnDef="PermitCosts">
                <th mat-header-cell *matHeaderCellDef> Permit Count </th>
                <td mat-cell *matCellDef="let row"> {{row.permitCosts}} </td>
            </ng-container>
            <ng-container matColumnDef="MaterialCosts">
                <th mat-header-cell *matHeaderCellDef> Material Count </th>
                <td mat-cell *matCellDef="let row"> {{row.materialCosts}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>