<mat-card class="schedule-widget">
  <mat-card-header>
    <mat-card-title>
      <mat-icon>calendar_today</mat-icon>
      Upcoming Schedule
    </mat-card-title>
    <div class="header-action">
      <a mat-button routerLink="/field-resource-management/schedule">View All</a>
    </div>
  </mat-card-header>
  <mat-card-content>
    <mat-list *ngIf="upcomingSchedule.length; else noSchedule">
      <mat-list-item *ngFor="let entry of upcomingSchedule">
        <mat-icon matListItemIcon>event</mat-icon>
        <span matListItemTitle>{{ entry.jobTitle || entry.title }}</span>
        <span matListItemLine>{{ entry.date | date:'shortDate' }} at {{ entry.time || entry.startTime }}</span>
      </mat-list-item>
    </mat-list>
    <ng-template #noSchedule>
      <p class="empty-state">No upcoming schedule entries.</p>
    </ng-template>
  </mat-card-content>
</mat-card>
