<div class="daily-view">
  <mat-toolbar color="primary">
    <mat-icon>today</mat-icon>
    <span>Today's Jobs &mdash; {{ today | date:'mediumDate' }}</span>
  </mat-toolbar>

  <div class="jobs-list" *ngIf="jobs.length; else noJobs">
    <app-job-card
      *ngFor="let job of jobs"
      [job]="job"
      (clockIn)="onClockIn($event, job.id)"
      (viewDetails)="onViewDetails(job.id)">
    </app-job-card>
  </div>

  <ng-template #noJobs>
    <div class="no-jobs">
      <mat-icon>event_available</mat-icon>
      <p>No jobs scheduled for today.</p>
    </div>
  </ng-template>
</div>
