/* Overall Page */
.street-sheet-page {
  background-color: #144f80;  /* Primary blue background */
  color: #fff;  /* Ensures text is visible on the blue background */
  padding: 20px 20px;
  margin: 20px;
  box-sizing: border-box;
  border-radius: 5px;
}

::ng-deep .mat-drawer-container{
  background-color: #144f80 !important;
}

/* Header Section */
.header-section {
  background-color: #144f80;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 5px;

  h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    text-align: center;
    color: #ffffff;
  }

  button {
    background-color: #e18a25;
    color: #fff;
    width: 115px;
    padding: 10px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: #b86404;
      transform: scale(1.05);
    }

    mat-icon {
      margin-right: 8px;
    }
  }
}

.marker-btns{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;

  button {
    background-color: #e18a25;
    color: #fff;
    width: auto;
    padding: 10px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: #b86404;
      transform: scale(1.05);
    }

    mat-icon {
      margin-right: 8px;
    }
  }
}

/* Sidenav Styling */
mat-sidenav-container {
  display: flex;
  height: 100%;
}

mat-sidenav {
  width: 300px;
  background-color: #f5f5f5;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  border-radius: 8px;
}

mat-sidenav-content {
  flex: 1;
  transition: transform 0.3s ease-in-out;
}

.side-panel-header {
  position: sticky;  
  top: 0; 
  z-index: 1; 
  background-color: #e18a25; 
  background-color: #e18a25;
  color: white;
  padding: 20px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .modal-title {
    font-size: 1.5rem;
    color: #fff;
  }

  button {
    background-color: transparent;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 50%;
    transition: background-color 0.3s;

    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
}

.side-panel-content {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  color: #000;
}

.side-panel-content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: #000;
  padding-top: 10px;
}

.side-panel-content li {
  margin: 10px 0;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s;

  &:hover {
    background-color: #e18a25;
    color: white;
    cursor: pointer;
    transform: translateX(5px);
  }
}

.edit-icon {
  padding-left: 2px; 
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  color: #e18a25;

  &:hover {
    color: #b86404;
  }
}

.delete-icon {
  padding-left: 2px; 
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  color: #f44336;

  &:hover {
    color: #e53935;
  }
}

.mat-drawer{
  color: #000;
}

/* Street Sheet List Styling */
.list-none {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.mb-4 {
  margin-bottom: 1rem;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.flex-column {
  flex-direction: column;
}

.md\\:flex-row {
  flex-direction: row;
}

.md\\:align-items-center {
  align-items: center;
}

.md\\:justify-content-between {
  justify-content: space-between;
}

.mt-2 {
  margin-top: 0.5rem;
}

.md\\:mt-0 {
  margin-top: 0;
}

.mr-3 {
  margin-right: 1rem;
}

.mr-0 {
  margin-right: 0;
}

.md\\:mr-8 {
  margin-right: 2rem;
}

.text-900 {
  color: #333;
}

.text-600 {
  color: #666;
}

.block {
  display: block;
}

.font-medium {
  font-weight: 500;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

/* Avatar and Button Styling */
img {
  border-radius: 50%;
}

button.mat-icon-button {
  background-color: transparent;
  margin-left: 8px;
  border-radius: 50%;
  transition: background-color 0.3s, transform 0.2s;

  &:hover {
    background-color: #e18a25;
    transform: scale(1.1);
  }

  mat-icon {
    color: white;
  }
}

.mat-icon {
  font-size: 1.25rem;
}

/* Flexbox for buttons */
.flex-nowrap {
  flex-wrap: nowrap;
}


::ng-deep .mat-typography {
  font: 350 1rem / 1rem Roboto, sans-serif;
}

::ng-deep .mat-typography h5{
  padding-top: 10px;
  font: 350 1rem / 1rem Roboto, sans-serif;
  margin: 0 0 .5rem 1.5em;
}

.side-panel-content li h5 {
  font-size: 0.7rem;
  margin: 0;
}

.side-panel-content li p {
  font-size: 0.9rem;
  color: #030303;
}

.search-bar {
  display: flex;
  justify-content: flex-start;
  width: 100%;

  mat-form-field {
    width: 100%;

    input {
      padding-left: 2px;
    }

    mat-icon {
      color: #e18a25;
    }
  }
  button {
    background-color: #e18a25;
    color: #fff;
    width: auto;
    padding: 10px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: #b86404;
      transform: scale(1.05);
    }

    mat-icon {
      margin-right: 8px;
    }
  }
}

.search-bar input {
  width: 0;
  opacity: 0;
  transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.search-bar.open input {
  width: 100%;
  opacity: 1;
}

/* Responsive design */
@media (max-width: 550px) {
  .street-sheet-page {
    background-color: #144f80;  /* Primary blue background */
    color: #fff;  /* Ensures text is visible on the blue background */
    padding: 5px 5px;
    margin: 0px;
    box-sizing: border-box;
  }
  .header-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    h2 {
      font-size: 1.7rem;
      margin-bottom: 10px;
      color: #ffffff;
      text-align: center;
    }

    button {
      width: auto;
      margin-bottom: 10px;
      color: #ffffff;
      font-size: smaller;
    }
  }

  .search-bar {
    display: flex;
    justify-content: flex-start;
    width: 100%;

    mat-form-field {
      width: 100%;

      input {
        padding-left: 2px;
      }

      mat-icon {
        color: #e18a25;
      }
    }
  }

  .search-bar input {
    width: 0;
    opacity: 0;
    transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
  
  .search-bar.open input {
    width: 100%;
    opacity: 1;
  }

  .marker-btns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
  
    button {
      font-size: smaller;
      background-color: #e18a25;
      color: #fff;
      width: auto;
      padding: 10px 10px;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
  
      &:hover {
        background-color: #b86404;
        transform: scale(1.05);
      }
  
      mat-icon {
        margin-right: 0;
        font-size: medium;
      }
    }
  }

  mat-sidenav {
    width: 100%;
    padding: 10px;
  }

  .side-panel-content ul {
    padding: 0;
  }

  .side-panel-content li {
    margin: 10px 0;
    background-color: #f5f5f5;
  }
}

/* For tablets and larger screens */
@media (min-width: 768px) {
  .header-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    h2 {
      font-size: 2rem;
      margin-bottom: 0;
      text-align: center;
    }

    button {
      width: auto;
    }
  }

  .search-bar {
    display: flex;
    justify-content: flex-start;
    width: 100%;

    mat-form-field {
      width: 100%;

      input {
        padding-left: 2px;
      }

      mat-icon {
        color: #e18a25;
      }
    }
  }

  .search-bar input {
    width: 0;
    opacity: 0;
    transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
  
  .search-bar.open input {
    width: 100%;
    opacity: 1;
  }

  mat-sidenav {
    width: 300px;
  }
}
