<div class="tests-uploader">
  <p-fileUpload
    mode="basic"
    name="reports"
    chooseLabel="Upload files"
    [auto]="true"
    [customUpload]="true"
    [multiple]="true"
    (uploadHandler)="onUpload($event)"
  ></p-fileUpload>

  <div class="preview" *ngIf="value?.length">
    <span *ngFor="let id of value" class="chip">
      <i class="pi pi-file"></i>
      <span>{{ id }}</span>
      <button pButton type="button" icon="pi pi-times" severity="danger" (click)="remove(id)" size="small"></button>
    </span>
  </div>
</div>
