<mat-card class="timecard-review-widget">
  <mat-card-header>
    <mat-card-title>
      <mat-icon>rate_review</mat-icon>
      Timecard Review
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list *ngIf="pendingTimecards.length; else noTimecards">
      <mat-list-item *ngFor="let tc of pendingTimecards">
        <mat-icon matListItemIcon>access_time</mat-icon>
        <span matListItemTitle>{{ tc.employeeName }}</span>
        <span matListItemLine>{{ tc.hours }}h &mdash; {{ tc.weekEnding | date:'shortDate' }}</span>
        <div matListItemMeta class="action-buttons">
          <button mat-icon-button color="primary" (click)="approve(tc)" title="Approve">
            <mat-icon>check</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="reject(tc)" title="Reject">
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </mat-list-item>
    </mat-list>
    <ng-template #noTimecards>
      <p class="empty-state">No timecards pending review.</p>
    </ng-template>
  </mat-card-content>
</mat-card>
