<div class="technician-schedule">
  <div class="schedule-header">
    <div class="tech-info" *ngIf="technician">
      <mat-icon>person</mat-icon>
      <h2>{{ technician.name }}</h2>
    </div>
    <div class="nav-controls">
      <button mat-icon-button (click)="previousWeek()">
        <mat-icon>chevron_left</mat-icon>
      </button>
      <span class="week-label">Week of {{ weekDays[0] | date:'MMM d' }} - {{ weekDays[6] | date:'MMM d, yyyy' }}</span>
      <button mat-icon-button (click)="nextWeek()">
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
  </div>

  <div class="week-grid">
    <div class="day-column" *ngFor="let day of weekDays">
      <div class="day-header" [class.today]="day.toDateString() === ('' | date:'mediumDate') || day.toDateString() === (currentDate | date:'mediumDate')">
        <span class="day-name">{{ day | date:'EEE' }}</span>
        <span class="day-date">{{ day | date:'M/d' }}</span>
      </div>
      <div class="day-assignments">
        <div class="assignment-block" *ngFor="let a of getAssignmentsForDay(day)">
          <span class="job-name">{{ a.jobName }}</span>
          <span class="time">{{ a.startTime }} - {{ a.endTime }}</span>
        </div>
        <div class="empty-day" *ngIf="getAssignmentsForDay(day).length === 0">
          No assignments
        </div>
      </div>
    </div>
  </div>
</div>
