.client-config-form-card {
  margin: 16px;
  max-width: 600px;

  mat-card-content {
    padding-top: 16px;
  }
}

.client-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.full-width {
  width: 100%;
}
