<mat-card class="client-config-card">
  <mat-card-header>
    <mat-card-title>Client Configurations</mat-card-title>
    <div class="header-actions">
      <button mat-raised-button color="primary" (click)="addClient()">
        <mat-icon>add</mat-icon> Add Client Config
      </button>
    </div>
  </mat-card-header>
  <mat-card-content>
    <ng-container *ngIf="clients.length > 0; else emptyState">
      <mat-table [dataSource]="clients" class="clients-table">
        <ng-container matColumnDef="clientName">
          <mat-header-cell *matHeaderCellDef>Client Name</mat-header-cell>
          <mat-cell *matCellDef="let c">{{ c.clientName }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="billingType">
          <mat-header-cell *matHeaderCellDef>Billing Type</mat-header-cell>
          <mat-cell *matCellDef="let c">{{ c.billingType }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="rate">
          <mat-header-cell *matHeaderCellDef>Rate</mat-header-cell>
          <mat-cell *matCellDef="let c">{{ c.rate | currency }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="contactEmail">
          <mat-header-cell *matHeaderCellDef>Contact Email</mat-header-cell>
          <mat-cell *matCellDef="let c">{{ c.contactEmail }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="active">
          <mat-header-cell *matHeaderCellDef>Active</mat-header-cell>
          <mat-cell *matCellDef="let c">
            <mat-slide-toggle [(ngModel)]="c.active" color="primary"></mat-slide-toggle>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
          <mat-cell *matCellDef="let c">
            <button mat-icon-button color="primary" (click)="editClient(c)"><mat-icon>edit</mat-icon></button>
            <button mat-icon-button color="warn" (click)="deleteClient(c)"><mat-icon>delete</mat-icon></button>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </ng-container>

    <ng-template #emptyState>
      <div class="empty-state">
        <mat-icon>business</mat-icon>
        <p>No client configurations found. Click "Add Client Config" to create one.</p>
      </div>
    </ng-template>
  </mat-card-content>
</mat-card>
