<div class="map-view-container">
  <div class="map-sidebar" [class.closed]="!sidebarOpen">
    <app-map-filters (filtersChanged)="onFiltersChanged($event)"></app-map-filters>
  </div>

  <div class="map-main">
    <div class="map-toolbar">
      <button mat-icon-button (click)="toggleSidebar()" matTooltip="Toggle Filters">
        <mat-icon>{{ sidebarOpen ? 'chevron_left' : 'chevron_right' }}</mat-icon>
      </button>
      <app-location-tracking-toggle></app-location-tracking-toggle>
    </div>

    <div class="map-area">
      <app-map [technicians]="technicians" [jobs]="jobs"></app-map>
    </div>

    <div class="map-legend-overlay">
      <app-map-legend></app-map-legend>
    </div>
  </div>
</div>
