.table-wrapper {
  overflow-x: auto;

  table {
    width: 100%;
    margin-top: 20px;
    min-width: 600px;

    th {
      background-color: #e18a25;
      color: white;
      padding: 10px 0 10px 10px;
    }

    td {
      text-align: center;
      padding: 10px;
    }

    tr:nth-child(odd) {
      background-color: #000000;
    }

    tr:nth-child(even) {
      background-color: #525252;
    }
  }
}

.header-section {
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.mat-header-cell {
  background-color: #e18a25;
  color: white;
}

.mat-cell {
  padding: 16px;
}

.export-btn {
  background-color: #0baa06;
  color: #fff;

  &:hover {
    background-color: #066303;
  }
}

.filters-btn {
  align-items: center;
  background-color: #144f80;
  color: #fff;
  margin-bottom: 10px;

  &:hover {
    background-color: #0e3453;
  }
}

.chip-filter {
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}

.chip-filter .p-chip {
  background-color: #e18a25;
  color: white;
  border-radius: 50px;
  font-size: 14px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.chip-filter .p-chip:hover {
  background-color: #144f80;
}

.chip-filter .p-chip .pi {
  margin-left: 5px;
}

.chip-filter .clear-all {
  text-align: center;
  display: inline-block;
  padding: 8px 16px;
  background-color: #144f80;
  color: white;
  font-size: 14px;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
}

.chip-filter .clear-all:hover {
  background-color: #e18a25;
}

.chip-filter .clear-all:focus {
  outline: none;
}


.half-width {
  flex: 1 1;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

::ng-deep .half-width.p-multiselect,
::ng-deep .half-width.p-calendar {
  width: 100%;
}

.element-row {
  cursor: pointer;
}

.detail-row {
  td {
    padding: 0;
  }
}

.detail-container {
  padding: 1rem;
  text-align: left;
  background-color: #525252;
  color: #fff;
}

.detail-item {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  .label {
    font-weight: 600;
    color: #e18a25;
  }
}

::ng-deep .detail-container .p-accordion .p-accordion-header-link {
  background-color: #e18a25;
  color: #fff;
}

::ng-deep .detail-container .p-accordion .p-accordion-content {
  background-color: #525252;
  color: #fff;
}
