<div class="budget-tracker">
  <div>
    <button mat-raised-button class="filters-btn" (click)="toggleFilters()">
      {{ filtersOpen ? 'Close Filters' : 'View Filters' }}
      <mat-icon>filter_list</mat-icon>
    </button>
  </div>

  <div class="chip-filter" *ngIf="filtersOpen">
    <div class="grid flex-column lg:flex-row w-full h-full">
      <div class="col-12 lg:col flex align-items-center flex-nowrap gap-1" *ngFor="let filter of selectedFilters">
        <p-chip
          *ngFor="let chip of filter.values"
          [label]="formatDate(chip)"
          [removable]="true"
          styleClass="mr-3 h-auto lg:h-full px-4 mt-3 lg:mt-0"
          removeIcon="pi pi-times"
          [style]="{ 'border-radius': '50px' }"
          (onRemove)="removeChip({ column: filter.column, value: chip })">
        </p-chip>
      </div>

      <a
        pRipple
        *ngIf="selectedFilters.length > 0"
        tabindex="0"
        class="clear-all"
        style="border-radius: 50px; max-width: 7rem;"
        (click)="clearAll()"
      >
        Clear All
      </a>
    </div>

    <div class="filter-selections" [formGroup]="form">
      <mat-form-field appearance="fill" class="half-width">
        <mat-label>Segment</mat-label>
        <mat-select multiple formControlName="segment" (selectionChange)="onFilterChange('segment')">
          <mat-option *ngFor="let opt of segmentOptions" [value]="opt.value">{{ opt.label }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="half-width">
        <mat-label>City</mat-label>
        <mat-select multiple formControlName="city" (selectionChange)="onFilterChange('city')">
          <mat-option *ngFor="let opt of cityOptions" [value]="opt.value">{{ opt.label }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <span>Claim Month Range Filter</span>
    <div class="filter-selections" [formGroup]="form">
      <mat-form-field appearance="fill" class="half-width">
        <mat-label>Start Month</mat-label>
        <input
          matInput
          [matDatepicker]="fromPicker"
          formControlName="claimMonthFrom"
          (dateChange)="onFilterChange('claimMonth')"
        />
        <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
        <mat-datepicker #fromPicker startView="multi-year" (monthSelected)="setClaimMonthFrom($event, fromPicker)"></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill" class="half-width">
        <mat-label>End Month</mat-label>
        <input
          matInput
          [matDatepicker]="toPicker"
          formControlName="claimMonthTo"
          (dateChange)="onFilterChange('claimMonth')"
        />
        <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
        <mat-datepicker #toPicker startView="multi-year" (monthSelected)="setClaimMonthTo($event, toPicker)"></mat-datepicker>
      </mat-form-field>
    </div>
  </div>

  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

  <div class="table-wrapper" *ngIf="rows.length; else empty">
    <p-table
      [value]="rows"
      dataKey="__rowId"
      [expandedRowKeys]="expandedRowKeys"
      [paginator]="true"
      [rows]="pageSize"
      [rowsPerPageOptions]="[10, 25, 50, 100]"
      [totalRecords]="total"
      [lazy]="true"
      [first]="first"
      [customSort]="true"
      (onPage)="onPage($event)"
      (sortFunction)="onSort($event)"
      (onRowExpand)="onRowExpand($event)"
      (onRowCollapse)="onRowCollapse()"
      styleClass="poseidon-table"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem"></th>
          <th pSortableColumn="ClaimMonthYear">
            Claim Month
            <p-sortIcon field="ClaimMonthYear"></p-sortIcon>
          </th>
          <th pSortableColumn="Segment">
            Segment
            <p-sortIcon field="Segment"></p-sortIcon>
          </th>
          <th pSortableColumn="City">
            City
            <p-sortIcon field="City"></p-sortIcon>
          </th>
          <th>Conlog</th>
          <th pSortableColumn="Vendor">
            Vendor
            <p-sortIcon field="Vendor"></p-sortIcon>
          </th>
          <th pSortableColumn="FinalCost">
            Final Cost
            <p-sortIcon field="FinalCost"></p-sortIcon>
          </th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-r let-expanded="expanded">
        <tr>
          <td>
            <button
              type="button"
              pButton
              pRipple
              [pRowToggler]="r"
              class="p-button-text p-button-rounded p-button-plain"
            >
              <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
            </button>
          </td>
          <td>{{ asDate(r.Header?.ClaimMonthYear) }}</td>
          <td>{{ r.Header?.Segment }}</td>
          <td>{{ r.Header?.City }}</td>
          <td>
            <a
              *ngIf="r.Header?.ConlogLink"
              [href]="r.Header.ConlogLink"
              target="_blank"
              rel="noopener"
              (click)="$event.stopPropagation()"
              >Open</a
            >
            <span *ngIf="!r.Header?.ConlogLink" class="muted">-</span>
          </td>
          <td>{{ r.FT?.Vendor }}</td>
          <td>{{ r.DUEJ?.FinalCost | currency }}</td>
        </tr>
      </ng-template>

      <ng-template pTemplate="rowexpansion" let-r>
        <tr>
          <td [attr.colspan]="7" class="detail-row">
            <div class="detail-container">
              <ng-container *ngIf="detailEntries(r).length; else noDetails">
                <div class="detail-grid">
                  <div class="detail-card">
                    <div class="detail-card__content">
                      <div class="detail-field" *ngFor="let item of detailEntries(r)">
                        <span class="detail-field__label">{{ labelize(item.key) }}</span>
                        <span class="detail-field__value" *ngIf="!item.isLink">{{ item.value }}</span>
                        <a
                          *ngIf="item.isLink"
                          class="detail-field__link"
                          [href]="item.value"
                          target="_blank"
                          rel="noopener"
                          (click)="$event.stopPropagation()"
                          >Open Link</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
              <ng-template #noDetails>
                <div class="no-details">No additional data for this row.</div>
              </ng-template>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <ng-template #empty>
    <p>No results found.</p>
  </ng-template>
</div>
