<div class="pipeline-dashboard">
  <!-- Loading state -->
  <div *ngIf="loading$ | async" class="widget-loading">
    <mat-spinner diameter="40"></mat-spinner>
  </div>

  <!-- Error state -->
  <div *ngIf="error$ | async as error" class="widget-error">
    <p>Unable to load pipeline data. Please try again.</p>
    <button mat-button color="primary" (click)="retry()">Retry</button>
  </div>

  <!-- Pipeline quick-access list -->
  <ng-container *ngIf="!(loading$ | async) && !(error$ | async)">
    <div class="pipeline-header">
      <mat-icon class="pipeline-header-icon">assessment</mat-icon>
      <span class="pipeline-header-title">Quote Pipeline</span>
    </div>

    <div class="pipeline-list">
      <div
        *ngFor="let category of categories; trackBy: trackByCategory"
        class="pipeline-row"
        [ngClass]="category.colorClass"
        (click)="navigateToFilteredList(category)"
        role="button"
        tabindex="0"
        (keydown.enter)="navigateToFilteredList(category)"
        [attr.aria-label]="category.label + ' - ' + (category.count$ | async) + ' items'"
      >
        <div class="row-left">
          <mat-icon class="row-icon">{{ category.icon }}</mat-icon>
          <span class="row-label">{{ category.label }}</span>
        </div>
        <div class="row-right">
          <span class="row-count">{{ category.count$ | async }}</span>
          <mat-icon class="row-chevron">chevron_right</mat-icon>
        </div>
      </div>
    </div>
  </ng-container>
</div>
