.modal-body {
    background-color: #fff;
    padding: 25px;
    padding-top: 25px !important;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    color: #000000;
    max-height: 70vh;
    overflow-y: auto;  
    font-size: 1.1rem;
  }
  
  
  /* Modal header styles */
  .modal-header {
    background-color: #144f80;
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    .modal-title {
      font-size: 1.2rem;
      color: #fff;
    }
  
    button {
      color: #ffffff;
  
      &:hover {
        color: #000;
      }
    }
  }
  
  /* Modal footer styles */
  .modal-footer {
    background-color: #144f80;
    display: flex;
    justify-content: flex-end;
    padding: 20px 25px;
  
    .delete-btn,
    .cancel-btn {
      padding: 10px 20px;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s;
      color: #fff;
    }
  
    .delete-btn {
      background-color: #e18a25;
      margin-right: 15px;
  
      &:hover {
        background-color: #b86404;
      }
    }
  
    .cancel-btn {
      background-color: #f44336;
  
      &:hover {
        background-color: #e53935;
      }
    }
  }
  
  /* Button styling */
  button.mat-raised-button {
    color: #fff;
  
    &.mat-primary {
      background-color: #144f80;
    }
  
    &.mat-accent {
      background-color: #ff4081;
    }
  
    &.mat-warn {
      background-color: #f44336;
    }
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .modal-body,
    .modal-header,
    .modal-footer {
      padding: 15px;
    }
  
    /* Adjust font size in the modal */
    .modal-title {
      font-size: 1.1rem;  /* Smaller font size for mobile */
    }
  
    /* Button size adjustments */
    .delete-btn,
    .cancel-btn {
      padding: 8px 15px;
      font-size: 1rem;  /* Smaller font size for mobile */
    }
  }
  
  @media (max-width: 500px) {
    .modal-body {
      max-height: 60vh;  /* Adjust max height for very small screens */
    }
  
    .modal-header,
    .modal-footer {
      padding: 10px 15px;
    }
  
    .delete-btn,
    .cancel-btn {
      padding: 8px 12px;  /* Further decrease padding for smaller screens */
      font-size: 0.9rem;  /* Reduce font size */
    }
  }
  