<mat-card class="profile-card">
  <div class="header-section">
    <h2>User Profile</h2>
  </div>

  <mat-card-content>
    <!-- Profile Information Section -->
    <div class="profile-info">
      <p><strong>Name:  </strong> <span class="profile-text">{{ profileData.name }}</span></p>
      <p><strong>Email:  </strong> <span class="profile-text">{{ profileData.email }}</span></p>
    </div>

    <!-- Edit Profile Button -->
    <div class="button-container">
      <button mat-raised-button (click)="openEditModal()">Edit Profile</button>
    </div>
  </mat-card-content>
</mat-card>
