.profile-card {
  background-color: #dddddd;
  padding: 20px;
  margin: 20px;
  max-width: 400px;
  margin: 0 auto;
  box-sizing: border-box;

  .header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      font-size: 2rem;
    }
  }

  .profile-info {
    margin-top: 8%;
    margin-bottom: 10px;

    .profile-text {
      color: #000;
      text-align: start;
    }
  }

  mat-card {
    button {
      align-items: center;
      background-color: #e18a25;
      color: #fff;

      &:hover {
        background-color: #b86404;
      }
    }
  }

  .button-container {
    display: flex;
    justify-content: center;
    button {
      align-items: center;
      background-color: #e18a25;
      color: #fff;

      &:hover {
        background-color: #b86404;
      }
    }
  }

}

@media (max-width: 768px) {
  .profile-card,
  .modal-body,
  .modal-header,
  .modal-footer {
    padding: 15px;
  }

  .save-btn,
  .cancel-btn {
    padding: 8px 15px;
  }
}
