<p-card class="label-card">
  <div class="form">
    <input pInputText type="text" placeholder="Hostname" formControlName="hostname" />
    <input pInputText type="text" placeholder="Serial" formControlName="serial" />
    <input pInputText type="text" placeholder="Rack" formControlName="rack" />
    <input pInputText type="text" placeholder="RU" formControlName="ru" />
    <input pInputText type="text" placeholder="Slot" formControlName="slot" />
    <input pInputText type="text" placeholder="Port" formControlName="port" />
  </div>

  <div class="preview">
    <img [src]="qrUrl()" alt="QR preview" />
    <pre>{{ form.getRawValue() | json }}</pre>
  </div>

  <button pButton type="button" label="Print" icon="pi pi-print" (click)="print()"></button>
</p-card>
