.stats {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

table {
  width: 100%;
}

.header-actions {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.action-btn {
  background-color: #e18a25;
  color: #fff;

  &:hover {
    background-color: #b86404;
  }
}


.actions-cell {
  display: flex;
  align-items: center;
  gap: 8px;
}

.edit-icon {
  cursor: pointer;
  font-size: 20px;
  color: #e18a25;

  &:hover {
    color: #b86404;
  }
}

.delete-icon {
  cursor: pointer;
  font-size: 20px;
  color: #f44336;

  &:hover {
    color: #e53935;
  }
}
