<div class="osp-coordinator-page surface-card shadow-4 p-3 border-round">
  <div class="header-section">
    <h2>OSP Coordinator</h2>
  </div>
  
  <div class="header-actions">
    <input type="file" accept=".csv" #csvInput (change)="importFromCSV($event)" style="display:none" />
    <button mat-raised-button class="action-btn" (click)="csvInput.click()">Import CSV</button>
    <button mat-raised-button class="action-btn" (click)="openAddEditModal()">Add Entry</button>
  </div>

  <div class="filter-section">
    <div class="search-bar">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Search</mat-label>
        <input matInput (keyup)="searchFilter($event)" placeholder="Search by Segment ID, Address, City, State">
        <button mat-icon-button matSuffix>
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </div>   
  </div>

  <div class="stats">
    <app-widget *ngFor="let card of statCards" [title]="card.description" [data]="card.value"></app-widget>
  </div>
  <div class="table-wrapper">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="segmentId">
        <th mat-header-cell *matHeaderCellDef> Segment ID </th>
        <td mat-cell *matCellDef="let element"> {{element.segmentId}} </td>
      </ng-container>
    
      <ng-container matColumnDef="vendor">
        <th mat-header-cell *matHeaderCellDef> Vendor </th>
        <td mat-cell *matCellDef="let element"> {{element.vendor}} </td>
      </ng-container>
    
      <ng-container matColumnDef="crew">
        <th mat-header-cell *matHeaderCellDef> Crew </th>
        <td mat-cell *matCellDef="let element"> {{element.crew}} </td>
      </ng-container>
    
      <ng-container matColumnDef="materialOrder">
        <th mat-header-cell *matHeaderCellDef> Material Order </th>
        <td mat-cell *matCellDef="let element"> {{element.materialOrder}} </td>
      </ng-container>
    
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.date}} </td>
      </ng-container>
    
      <ng-container matColumnDef="workPackageCreated">
        <th mat-header-cell *matHeaderCellDef> Work Package Created </th>
        <td mat-cell *matCellDef="let element"> {{element.workPackageCreated}} </td>
      </ng-container>
    
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef> Amount </th>
        <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
      </ng-container>
    
      <ng-container matColumnDef="workPackageAmount">
        <th mat-header-cell *matHeaderCellDef> WP Amount </th>
        <td mat-cell *matCellDef="let element"> {{element.workPackageAmount}} </td>
      </ng-container>
    
      <ng-container matColumnDef="originalContinuingCost">
        <th mat-header-cell *matHeaderCellDef> Orig Cont Cost </th>
        <td mat-cell *matCellDef="let element"> {{element.originalContinuingCost}} </td>
      </ng-container>
    
      <ng-container matColumnDef="highCostAnalysis">
        <th mat-header-cell *matHeaderCellDef> High Cost Analysis </th>
        <td mat-cell *matCellDef="let element"> {{element.highCostAnalysis}} </td>
      </ng-container>
    
      <ng-container matColumnDef="ntp">
        <th mat-header-cell *matHeaderCellDef> NTP </th>
        <td mat-cell *matCellDef="let element"> {{element.ntp}} </td>
      </ng-container>
    
      <ng-container matColumnDef="asbuiltSubmitted">
        <th mat-header-cell *matHeaderCellDef> Asbuilt Submitted </th>
        <td mat-cell *matCellDef="let element"> {{element.asbuiltSubmitted}} </td>
      </ng-container>
    
      <ng-container matColumnDef="coordinatorCloseout">
        <th mat-header-cell *matHeaderCellDef> Coordinator Closeout </th>
        <td mat-cell *matCellDef="let element"> {{element.coordinatorCloseout}} </td>
      </ng-container>
    
      <ng-container matColumnDef="amendmentVersion">
        <th mat-header-cell *matHeaderCellDef> Amendment Ver </th>
        <td mat-cell *matCellDef="let element"> {{element.amendmentVersion}} </td>
      </ng-container>
    
      <ng-container matColumnDef="amendmentAmount">
        <th mat-header-cell *matHeaderCellDef> Amendment Amount </th>
        <td mat-cell *matCellDef="let element"> {{element.amendmentAmount}} </td>
      </ng-container>
    
      <ng-container matColumnDef="continuingAmount">
        <th mat-header-cell *matHeaderCellDef> Continuing Amount </th>
        <td mat-cell *matCellDef="let element"> {{element.continuingAmount}} </td>
      </ng-container>
    
      <ng-container matColumnDef="amendmentReason">
        <th mat-header-cell *matHeaderCellDef> Reason </th>
        <td mat-cell *matCellDef="let element"> {{element.amendmentReason}} </td>
      </ng-container>
    
      <ng-container matColumnDef="adminAudit">
        <th mat-header-cell *matHeaderCellDef> Admin Audit </th>
        <td mat-cell *matCellDef="let element"> {{element.adminAudit}} </td>
      </ng-container>
    
      <ng-container matColumnDef="adminAuditDate">
        <th mat-header-cell *matHeaderCellDef> Audit Date </th>
        <td mat-cell *matCellDef="let element"> {{element.adminAuditDate}} </td>
      </ng-container>
    
      <ng-container matColumnDef="pass">
        <th mat-header-cell *matHeaderCellDef> Pass/Fail </th>
        <td mat-cell *matCellDef="let element">
          <span [ngClass]="element.pass ? 'pass' : 'fail'">{{ element.pass ? 'Pass' : 'Fail' }}</span>
        </td>
      </ng-container>
    
      <ng-container matColumnDef="passFailReason">
        <th mat-header-cell *matHeaderCellDef> Reason </th>
        <td mat-cell *matCellDef="let element"> {{element.passFailReason}} </td>
      </ng-container>
    
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element" class="actions-cell">
          <mat-icon (click)="editMetric(element)" class="edit-icon">edit</mat-icon>
          <mat-icon (click)="openDeleteConfirmationDialog(element)" class="delete-icon" color="warn">delete</mat-icon>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>  
</div>