<div class="preliminary-punch-list-page surface-card shadow-4 p-3 border-round">
  <div class="header-section">
    <h2>Expenses</h2><p-divider />
  </div>
  <div class="card table-wrapper">
    <p-tabs [(value)]="activeTab">
      <p-tablist>
        <p-tab *ngIf="canViewHrTab" [value]="hrTabValue" [ngClass]="{ 'active-tab': activeTab === hrTabValue }">
          Expense List
        </p-tab>
        <p-tab [value]="myTabValue" [ngClass]="{ 'active-tab': activeTab === myTabValue }">
          My Expenses
        </p-tab>
      </p-tablist>
      <p-tabpanels>
        <p-tabpanel *ngIf="canViewHrTab" [value]="hrTabValue">
          <app-hr-expenses-page></app-hr-expenses-page>
        </p-tabpanel>
        <p-tabpanel [value]="myTabValue">
          <app-employee-expenses-page></app-employee-expenses-page>
        </p-tabpanel>
      </p-tabpanels>
    </p-tabs>
  </div>
  
</div>
