<div class="preliminary-punch-list-page surface-card shadow-4 p-3 border-round">
    <div class="header-section">
      <h2>Welcome, {{this.user.name}}<p-divider /></h2>
    </div>
  
    <div class="dashboard-tabs">
      <p-tabs [(value)]="activeTab">
        <p-tablist>
          <p-tab *ngIf="user.role === 'Client' || user.role === 'Admin'" [value]="0" [ngClass]="{ 'active-tab': activeTab === 0 }">
            Summary
          </p-tab>
        </p-tablist>
        <p-tabpanels>
          <p-tabpanel [value]="0">
            <tps-summary *ngIf="this.user.role === 'CM' || this.user.role === 'Admin'"></tps-summary>
          </p-tabpanel>
        </p-tabpanels>
      </p-tabs>
    </div>
  </div>