<mat-card class="bom-card">
  <mat-card-header>
    <mat-card-title>Bill of Materials</mat-card-title>
    <div class="header-actions">
      <button mat-stroked-button color="primary" (click)="addItem()">
        <mat-icon>add</mat-icon> Add Item
      </button>
    </div>
  </mat-card-header>
  <mat-card-content>
    <mat-table [dataSource]="bomItems">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Item Name</mat-header-cell>
        <mat-cell *matCellDef="let item">
          <mat-form-field appearance="outline" class="inline-field">
            <input matInput [(ngModel)]="item.name">
          </mat-form-field>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="qty">
        <mat-header-cell *matHeaderCellDef>Qty</mat-header-cell>
        <mat-cell *matCellDef="let item">
          <mat-form-field appearance="outline" class="inline-field small">
            <input matInput type="number" [(ngModel)]="item.qty" (change)="updateTotal(item)">
          </mat-form-field>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="unitCost">
        <mat-header-cell *matHeaderCellDef>Unit Cost</mat-header-cell>
        <mat-cell *matCellDef="let item">
          <mat-form-field appearance="outline" class="inline-field">
            <span matPrefix>$&nbsp;</span>
            <input matInput type="number" [(ngModel)]="item.unitCost" (change)="updateTotal(item)">
          </mat-form-field>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="total">
        <mat-header-cell *matHeaderCellDef>Total</mat-header-cell>
        <mat-cell *matCellDef="let item">{{item.total | currency}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let item; let i = index">
          <button mat-icon-button color="warn" (click)="removeItem(i)" matTooltip="Remove">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <div class="grand-total">
      <span>Grand Total:</span>
      <strong>{{grandTotal | currency}}</strong>
    </div>
  </mat-card-content>
</mat-card>
