<nav class="frm-nav-menu" role="navigation" aria-label="Field Resource Management Navigation" id="main-navigation" tabindex="-1">
  <mat-nav-list role="list">
    <ng-container *ngFor="let item of menuItems">
      <!-- Menu item without children -->
      <a mat-list-item 
         *ngIf="!item.children"
         [routerLink]="item.route"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: false}"
         [attr.aria-label]="item.label"
         role="listitem">
        <mat-icon matListItemIcon [attr.aria-hidden]="true">{{ item.icon }}</mat-icon>
        <span matListItemTitle>{{ item.label }}</span>
      </a>

      <!-- Menu item with children (expandable) -->
      <mat-expansion-panel *ngIf="item.children" class="nav-expansion-panel" role="listitem">
        <mat-expansion-panel-header [attr.aria-label]="'Expand ' + item.label + ' menu'">
          <mat-panel-title>
            <mat-icon class="menu-icon" [attr.aria-hidden]="true">{{ item.icon }}</mat-icon>
            <span class="menu-label">{{ item.label }}</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        
        <mat-nav-list class="submenu" role="list" [attr.aria-label]="item.label + ' submenu'">
          <a mat-list-item 
             *ngFor="let child of item.children"
             [routerLink]="child.route"
             routerLinkActive="active"
             [routerLinkActiveOptions]="{exact: false}"
             [attr.aria-label]="child.label"
             role="listitem">
            <mat-icon matListItemIcon [attr.aria-hidden]="true">{{ child.icon }}</mat-icon>
            <span matListItemTitle>{{ child.label }}</span>
          </a>
        </mat-nav-list>
      </mat-expansion-panel>
    </ng-container>
  </mat-nav-list>
</nav>
