<mat-card class="quick-actions-widget">
  <mat-card-header>
    <mat-card-title>Quick Actions</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="actions-grid">
      <button
        mat-raised-button
        color="primary"
        *ngFor="let action of quickActions"
        [routerLink]="action.route"
        class="action-button"
      >
        <mat-icon>{{ action.icon }}</mat-icon>
        {{ action.label }}
      </button>
    </div>
  </mat-card-content>
</mat-card>
