<mat-card class="recent-jobs-widget">
  <mat-card-header>
    <mat-card-title>Recent Jobs</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list *ngIf="(recentJobs$ | async)?.length; else noJobs">
      <mat-list-item
        *ngFor="let job of recentJobs$ | async"
        [routerLink]="['/field-resource-management/jobs', job.id]"
        class="job-item"
      >
        <mat-icon matListItemIcon>work</mat-icon>
        <span matListItemTitle>{{ job.title || job.name || 'Job #' + job.id }}</span>
        <span matListItemLine>{{ job.status }} &mdash; {{ job.updatedAt | date:'short' }}</span>
      </mat-list-item>
    </mat-list>
    <ng-template #noJobs>
      <p class="empty-state">No recent jobs found.</p>
    </ng-template>
  </mat-card-content>
</mat-card>
