<form [formGroup]="filterForm" class="filter-section mb-2">
  <mat-form-field appearance="fill">
    <mat-label>Start Date</mat-label>
    <input matInput [matDatepicker]="vstart" formControlName="startDate">
    <mat-datepicker-toggle matSuffix [for]="vstart"></mat-datepicker-toggle>
    <mat-datepicker #vstart></mat-datepicker>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>End Date</mat-label>
    <input matInput [matDatepicker]="vend" formControlName="endDate">
    <mat-datepicker-toggle matSuffix [for]="vend"></mat-datepicker-toggle>
    <mat-datepicker #vend></mat-datepicker>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Vendor</mat-label>
    <input matInput formControlName="vendor">
  </mat-form-field>
  <button mat-raised-button color="primary" type="button" (click)="applyFilters()">Apply</button>
</form>
<div class="text-right mb-2">
  <button mat-raised-button (click)="exportCsv()" class="export-btn">
    <mat-icon>table_view</mat-icon> Export CSV
  </button>
</div>
<div class="table-wrapper">
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="monthYear">
    <th mat-header-cell *matHeaderCellDef>Month/Year</th>
    <td mat-cell *matCellDef="let v">{{ v.monthYear }}</td>
  </ng-container>
  <ng-container matColumnDef="vendor">
    <th mat-header-cell *matHeaderCellDef>Vendor</th>
    <td mat-cell *matCellDef="let v">{{ v.vendor }}</td>
  </ng-container>
  <ng-container matColumnDef="segment">
    <th mat-header-cell *matHeaderCellDef>Segment</th>
    <td mat-cell *matCellDef="let v">{{ v.segment }}</td>
  </ng-container>
  <ng-container matColumnDef="conlogPlannedAmount">
    <th mat-header-cell *matHeaderCellDef>Conlog Planned</th>
    <td mat-cell *matCellDef="let v">{{ v.conlogPlannedAmount | currency:'USD':'symbol':'1.2-2'}}</td>
  </ng-container>
  <ng-container matColumnDef="contingency">
    <th mat-header-cell *matHeaderCellDef>Contingency</th>
    <td mat-cell *matCellDef="let v">{{ v.contingency | currency:'USD':'symbol':'1.2-2'}}</td>
  </ng-container>
  <ng-container matColumnDef="planWithContingency">
    <th mat-header-cell *matHeaderCellDef>Plan With Contingency</th>
    <td mat-cell *matCellDef="let v">{{ v.planWithContingency | currency:'USD':'symbol':'1.2-2'}}</td>
  </ng-container>
  <ng-container matColumnDef="atCompleteCost">
    <th mat-header-cell *matHeaderCellDef>At Complete Cost</th>
    <td mat-cell *matCellDef="let v">{{ v.atCompleteCost | currency:'USD':'symbol':'1.2-2'}}</td>
  </ng-container>
  <ng-container matColumnDef="actualCost">
    <th mat-header-cell *matHeaderCellDef>Actual Cost</th>
    <td mat-cell *matCellDef="let v">{{ v.actualCost | currency:'USD':'symbol':'1.2-2'}}</td>
  </ng-container>
  <ng-container matColumnDef="overspentBy">
    <th mat-header-cell *matHeaderCellDef>Overspent By</th>
    <td mat-cell *matCellDef="let v">{{ v.overspentBy | currency:'USD':'symbol':'1.2-2'}}</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>
