.mat-header-row th {
  position: sticky;
  top: 0; /* Adjust based on your layout or header height */
  z-index: 1; /* Ensure it is above the table rows */
}

.header-section {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.mat-mdc-header-cell {
  border-bottom-color: var(--mat-table-row-item-outline-color, var(--mat-app-outline, rgba(0, 0, 0, 0.12)));
  border-bottom-width: var(--mat-table-row-item-outline-width, 1px);
  border-bottom-style: solid;
  letter-spacing: var(--mat-table-header-headline-tracking, var(--mat-app-title-small-tracking));
  font-weight: inherit;
  line-height: inherit;
  box-sizing: border-box;
  text-overflow: ellipsis;
  overflow: hidden;
  outline: none;
  text-align: center !important; 
  }

.table-wrapper {
      overflow-x: auto;
      overflow: auto;
  
      table {
        width: 100%;
        margin-top: 20px;
        min-width: 600px;
  
        th {
          background-color: #e18a25;
          color: white;
          padding: 10px 0px 10px 10px;
          position: sticky;
        }
  
        td {
          text-align: center;
          padding: 10px;
        }
  
        tr:nth-child(odd) {
          background-color: #000000;
        }
  
        tr:nth-child(even) {
          background-color: #525252; 
        }
      }
    
  
      .actions-container {
        align-items: center;
        gap: 8px;
      }
    
      .edit-icon {
        cursor: pointer;
        font-size: 20px;
        color: #e18a25;
    
        &:hover {
          color: #b86404;
        }
      }

      .mat-header-row th {
        position: sticky;
        top: 0;
        background-color: #fff; /* Ensure the background color is set to avoid transparency */
        z-index: 1; /* Ensure it stays above table rows */
      }
      
      /* Optional: Add box shadow for a nicer effect when scrolling */
      .mat-header-row {
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      }
    
      .delete-icon {
        cursor: pointer;
        font-size: 20px;
        color: #f44336;
    
        &:hover {
          color: #e53935;
        }
      }
    
      .mat-cell {
        padding: 16px;
      }
    
      .mat-header-cell {
        background-color: #e18a25;
        color: white;
      }
    
      .mat-row {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      }

      .reject-btn {
        font-size: small;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s;
        color: #fff;
        background-color: #f44336;
      
        &:hover {
          background-color: #e53935;
        }
      
        &:disabled{
          background-color: #696969;
        }
      }
    
      .image-btn {
        font-size: small;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s;
        color: #fff;
        background-color: #144f80;
      
        &:hover {
          background-color: #0e3453;
        }
      
        &:disabled{
          background-color: #88827a;
        }
      }
    
      /* Responsive design */
      @media (max-width: 767px) {    
        .header-section {
          flex-direction: column;
          align-items: flex-start;
    
          h2 {
            font-size: 1.5rem;
            margin-bottom: 10px;
          }
    
          button {
            width: 70%;
            margin-bottom: 10px;
          }
        }
    
        .filter-section {
          flex-direction: column;
          align-items: flex-start;
        }
    
        .search-bar {
          display: flex;
          justify-content: flex-start;
          width: 100%;
    
          mat-form-field {
            width: 100%;
    
            input {
              padding-left: 2px;
            }
    
            mat-icon {
              color: #e18a25;
            }
          }
        }
    
        .chip-filter {
          display: flex;
          justify-content: space-between;
          width: 100%;
          margin-bottom: 20px;
        }
      }
    
      @media (min-width: 768px) and (max-width: 1024px) {
        .header-section {
          flex-direction: flex;
          justify-content: space-between;
    
          h2 {
            font-size: 1.8rem;
          }
    
          button {
            margin-left: auto;
          }
        }
    
        .filter-section {
          flex-direction: column;
          align-items: flex-start;
        }
    
        .search-bar {
          display: flex;
          justify-content: flex-start;
          width: 100%;
    
          mat-form-field {
            width: 50%;
            margin-right: 15px;
    
            input {
              padding-left: 2px;
            }
    
            mat-icon {
              color: #e18a25;
            }
          }
        }
    
        .chip-filter {
          display: flex;
          justify-content: space-between;
          width: 100%;
          margin-bottom: 20px;
        }
    
        .table-wrapper {
          table {
            font-size: 15px;
          }
    
          th,
          td {
            padding: 8px;
          }
        }
      }
    }

.mat-header-cell {
  background-color: #e18a25;
  color: white;
}

.mat-cell {
  padding: 16px;
}

.export-btn {
  background-color: #0baa06;
  color: #fff;

  &:hover {
    background-color: #066303;
  }
}

.filter-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}

.filters-btn {
  align-items: center;
  background-color: #144f80;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;

  &:hover {
    background-color: #0e3453;
  }
}

mat-form-field {
  flex: 1 1;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;

  mat-label {
    color: #e18a25;
  }
}

@media (max-width: 768px) {
  .filter-section {
    flex-direction: column;
    align-items: stretch;

    .filters-btn {
      width: 100%;
    }
  }
}
