.summary-dashboard {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .summary-items {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    .summary-item {
      flex: 1 1 200px;
      text-align: left;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .icon-wrapper {
      width: 2.5rem;
      height: 2.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .chart-section {
    gap: 2rem;

    .chart-wrapper {
      height: 300px;
    }
  }

  ::ng-deep .p-overlaybadge {
    position: relative !important;
    color: black;
    font-size: 0.85rem;
    padding: 0.5rem 0.5rem;
  }

  ::ng-deep .p-overlaybadge .p-badge {
    position: relative !important;
    transform: translate(50%, -50%);
    transform-origin: 100% 0;
    margin: 0;
    padding-left: 5px;
    outline-style: none !important;
  }

  ::ng-deep .p-badge {
    display: initial !important;
  }
}
