<mat-card class="time-tracker">
  <mat-card-content>
    <div class="timer-display" [class.active]="isClockedIn">
      <mat-icon>{{ isClockedIn ? 'timer' : 'timer_off' }}</mat-icon>
      <span class="time">{{ formattedTime }}</span>
    </div>
    <button mat-raised-button [color]="isClockedIn ? 'warn' : 'primary'" (click)="toggleClock()">
      {{ isClockedIn ? 'Clock Out' : 'Clock In' }}
    </button>
    <p *ngIf="startTime" class="start-time">Started: {{ startTime | date:'shortTime' }}</p>
  </mat-card-content>
</mat-card>
