.reset-password-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh; 
    padding: 20px;
  
    .reset-password-header {
      text-align: center;
      margin-bottom: 20px;
    }
  
    .reset-password-body {
      background-color: #ffffff;
      padding: 25px 25px 0px 25px;
      border-radius: 5px;
      color: #000000;
      max-height: 70vh;
      overflow-y: auto;
    }
    
    .success-message {
      text-align: center;
      margin-top: 20px;
      font-size: 16px;
      color: #28a745;
  
      a {
        color: #e18a25;
        text-decoration: none;
  
        &:hover {
          text-decoration: underline;
        }
      }
    }
  
    form {
      display: flex;
      flex-direction: column;
  
      mat-form-field {
        width: 100%;
        margin-bottom: 20px;
  
        .mat-label {
          color: #000000;
        }
  
        .mat-input-element {
          color: #000000 !important;
        }
  
        .mat-hint,
        .mat-error {
          color: #ffd1a9 !important; 
        }
      }
  
      button {
        color: #ffffff;
        background-color: #e18a25;
  
        &:hover {
          background-color: #b86404;
        }
        &:disabled {
          background-color: #88827a;
        }
      }
    }
  }
  
  ::ng-deep .mat-mdc-input-element {
    color: #000000 !important; 
  }
  
  ::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-floating-label   {
      color: #000000 !important; 
  
  }
  
  ::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: #000000 !important; 
  }

  .reset-card {
    padding: 30px;
    width: 100%;
    max-width: 400px;
    background-color: #144f80;
    color: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); 
    border-radius: 10px; 
  
    h2 {
      margin-bottom: 20px;
      font-size: 1.8rem;
      color: #ffffff;
    }
  
    form {
      display: flex;
      flex-direction: column;
    }
  }

  .full-width-btn {
    max-width: 180px;
    margin-top: 20px;
    margin-left: 25%;
    justify-content: center;
    color: #ffffff;
        background-color: #e18a25;

        &:hover {
          background-color: #b86404;
        }
        &:disabled{
          background-color: #88827a;
        }
  }
  
  @media (max-width: 600px) {
    .reset-password-page {
      height: 90vh;
    }
  
    .reset-card {
      width: 100%;
      padding: 20px;
    }
  
    button.reset-button {
      padding: 10px;
    }
  }